header {
    background-color: darkred;
    color: #fff;
    padding: 10px 0;
}

nav ul {
    /*nav ul is because we surrounded the elements with nav and then ul*/
    list-style: none;
    display: flex;
    justify-content: center;
}

nav li{
    
    margin: 0 20px;
}

nav a{
    text-decoration: none;
    color: #fff;
}

body{
    font-family: Arial, sans-serif; 
    margin: 0;
    padding: 0;
}

img{
    max-width: 20%;
}

footer{
    text-align: center;
    padding: 10px;
    background-color:darkred; 
    color: #fff;
}